{% load static %}

<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
  {% block menu %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'profile' %}"></i>Личный кабинет</a><br>
  <a href="{% url 'Logout' %}">Выход из кабинета</a><br><br>
  <br>
  {% else %}
  <a href="{% url 'register' %}"></i>Регистрация</a><br>
  <a href="{% url 'Login' %}"></i>Вход в кабинет</a><br><br>
  {% endif %}
  {% endblock %}
        <main>
            {% block body %}
            {% endblock %}      
        </main>
</body>
</html>